@model PlanArtMVC.Models.RegistrationModel

@{
    ViewBag.Title = "Registration Page";
}

@*@{
    Layout = "~/Views/Shared/drugiLayout.cshtml";
}*@

@{
    Layout = null;
}

<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link href="~/Content/CSS/RegistrationCSS.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.12.3.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
</head>

<body style="background-image: url('../../Content/pictures/registration.jpg');"
    <!-- GLAVNI SADRZAJ -->
    <div class="container-fluid">
        <form method="post" action="@Url.Action("Register", "Registration")">
            <div class="row" style="text-align:center;">

                <div class="well" style="margin-left:20%; margin-right:20%; margin-top:2%; opacity:0.8; border-radius:7px;">

                    <div class="row redRazmak slova">                       
                        @Html.RadioButtonFor(m => m.status, "Artist") Artist
                        @Html.RadioButtonFor(m => m.status, "Festival") Festival
                        @Html.ValidationMessageFor(model => model.status, "", new { @class = "text-danger" })
                    </div>

                    <div class="row redRazmak slova">
                        @Html.TextBoxFor(m => m.email, new { @class = "form-control", @id = "email", @name = "email", @placeholder = "email", })
                        @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                    </div>

                    <div class="row redRazmak slova">
                        @Html.PasswordFor(m => m.password, new { @class = "form-control", @id = "password", @name = "password", @placeholder = "password" })
                        @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                    </div>

                    <div class="row redRazmak slova">
                        @Html.PasswordFor(m => m.confirmPassword, new { @class = "form-control", @id = "confirmPassword", @name = "confirmPassword", @placeholder = "confirm password" })
                        @Html.ValidationMessageFor(model => model.confirmPassword, "", new { @class = "text-danger" })
                    </div>

                    <div class="row redRazmak slova">
                        @Html.TextBoxFor(m => m.city, new { @class = "form-control", @id = "city", @name = "city", @placeholder = "city" })
                        @Html.ValidationMessageFor(model => model.city, "", new { @class = "text-danger" })
                    </div>

                    <div class="row redRazmak slova">
                        @Html.TextBoxFor(m => m.firstname, new { @class = "form-control", @id = "firstname", @name = "firstname", @placeholder = "firstname" })
                        @Html.ValidationMessageFor(model => model.firstname, "", new { @class = "text-danger" })
                    </div>

                    <div class="row redRazmak slova">
                        @Html.TextBoxFor(m => m.lastname, new { @class = "form-control", @id = "lastname", @name = "lastname", @placeholder = "lastname" })
                        @Html.ValidationMessageFor(model => model.lastname, "", new { @class = "text-danger" })
                    </div>

                    <div class="row redRazmak slova">
                        @Html.TextBoxFor(m => m.nickname, new { @class = "form-control", @id = "nickname", @name = "nickname", @placeholder = "nickname" })
                        @Html.ValidationMessageFor(model => model.nickname, "", new { @class = "text-danger" })
                    </div>

                    <div class="row redRazmak slova" style="text-align:center;">
                        <span>
                            <button id="registrujSe" class="btn btn-primary space-vert" data-target="#myModal">Register</button>
                        </span>
                    </div>

                </div>
            </div>
        </form>
    </div>
    <!-- KRAJ ZA GLAVNI SADRZAJ -->

</body>
</html>