<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3-theme-blue-grey.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .input[type=text] {
            width: 130px;
            -webkit-transition: width 0.4s ease-in-out;
            transition: width 0.4s ease-in-out;
        }

        /* When the input field gets focus, change its width to 100% */
        input[type=text]:focus {
            width: 100%;
        }
    </style>
</head>
<body>
    <!-- Navbar -->
    <div class="w3-top">
        <ul class="w3-navbar w3-theme-d2 w3-left-align w3-large">
            <li class="w3-hide-medium w3-hide-large w3-opennav w3-right">
                <a class="w3-padding-large w3-hover-white w3-large w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
            </li>
            <li><a href="#" class="w3-padding-large w3-theme-d4"><i class="fa fa-home w3-margin-right"></i>PlanArt</a></li>
            @*<li class="w3-hide-small"><a href="#" class="w3-padding-large w3-hover-white" title="News"><i class="fa fa-globe"></i></a></li>
            <li class="w3-hide-small"><a href="#" class="w3-padding-large w3-hover-white" title="Account Settings"><i class="fa fa-user"></i></a></li>
            <li class="w3-hide-small"><a href="#" class="w3-padding-large w3-hover-white" title="Messages"><i class="fa fa-envelope"></i></a></li>
            <li class="w3-hide-small w3-dropdown-hover">
                <a href="#" class="w3-padding-large w3-hover-white" title="Notifications"><i class="fa fa-bell"></i><span class="w3-badge w3-right w3-small w3-green">3</span></a>
                <div class="w3-dropdown-content w3-white w3-card-4">
                    <a href="#">One new friend request</a>
                    <a href="#">John Doe posted on your wall</a>
                    <a href="#">Jane likes your post</a>
                </div>
            </li>*@


            <li>
                <form action="@Url.Action("Search","Home")" method="post">
                    <div class="inp">
                        <span>
                            <input list="listaTagova" id="traziInput" name="tagovi" style="display:inline" type="text" size="18" class="kontrola form-control" onkeyup="ajaxPozivTagoviNaslovna()" placeholder="Pretraži portal" />
                            <button class="btn btn-default" id="btnsrch" style="display:inline"><span class="glyphicon glyphicon-search"></span></button>
                        </span>
                        
                        <datalist id="listaTagova"></datalist>
                        
                    </div>
                </form>
            </li>


            <li class="w3-hide-small w3-right"><a href="#" class="w3-padding-large w3-hover-white" title="My Account"><img src="/w3images/avatar2.png" class="w3-circle" style="height:25px;width:25px" alt="Avatar"></a></li>
        </ul>
    </div>


    <!-- Navbar on small screens -->
    <div id="navDemo" class="w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:51px">
        <ul class="w3-navbar w3-left-align w3-large w3-theme">
            <li><a class="w3-padding-large" href="#">Link 1</a></li>
            <li><a class="w3-padding-large" href="#">Link 2</a></li>
            <li><a class="w3-padding-large" href="#">Link 3</a></li>
            <li><a class="w3-padding-large" href="#">My Profile</a></li>
        </ul>
    </div>

    @*Search*@

    @*<form action="@Url.Action("Search","Home")" method="post">
        <div class="inp">
            <input list="listaTagova" id="traziInput" name="tagovi" type="text" size="18" class="kontrola form-control" onkeyup="ajaxPozivTagoviNaslovna()" placeholder="Pretraži portal" />
            <datalist id="listaTagova"></datalist>
            <button class="btn btn-default" id="btnsrch"><span class="glyphicon glyphicon-search"></span></button>
        </div>
    </form>*@

    <div>
        @RenderBody()
        
    </div>
    <!-- Footer -->
    @*<footer class="w3-container w3-theme-d3 w3-padding-16">*@
    <footer class="w3-container w3-theme-d3 w3-padding-0" style="position:fixed; bottom:0; width:100%; background-color:white; opacity:1;">
        @*<h5>Footer</h5>*@
        <div class="col-md-12 col-sm-12 col-xs-12" style="text-align:right; color:white;"> Copyright 2017 PlanArt.com</div>
    </footer>


    @*<footer class="w3-container w3-theme-d5">
        <p>Powered by <a href="http://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
    </footer>*@


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)


    <footer class="footer" style="position: fixed;bottom: 0;width: 100%;  background-color: white; opacity:1;">
</body>
</html>

<script type="text/javascript">
    {
        function ajaxPozivTagoviNaslovna()
        {
                var text = $('#traziInput').val(); //prvo slovo prvog elementa liste 
                var model = { letters: text }

                $.post("/Home/ReturnSuggestion", model,
                function (data)
                {
                        $('#listaTagova').empty();
                        $.each(data, function (index)
                        {
                            var opcija = document.createElement("option");
                            opcija.value = data[index];
                            
                            var roditelj = document.getElementById("listaTagova");
                            
                            roditelj.appendChild(opcija);
                        });
                });

        }

        function inputFocus(i) {
            if (i.value == i.defaultValue) { i.value = ""; i.style.color = "#000"; }
        }
        function inputBlur(i) {
            if (i.value == "") { i.value = i.defaultValue; i.style.color = "#888"; }
        }
    }
</script>
